body {
	background-color:  lightblue;
	align-content: center;
}

h2 {
	letter-spacing: 5px;
	font-family: Impact, sans-serif;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
}

.centerText {
	text-align: center;
}